<%# encoding: UTF-8 %><!DOCTYPE html>
<html>
  <head>
    <title><%= start %>の紋章キャンペーンやった？</title>
  </head>
  <body>
    <div>
      <%= start %>の紋章キャンペーンやった？
    </div>
    <div>
      <table>
        <tr>
          <%- goals.each do |goal| -%>
          <td></td><td><%= goal[0] %></td><td><%= goal[1] %></td><td><%= goal[2] %></td>
          <%- end -%>
        </tr>
      </table>
    </div>
    <div>
      <p><a href="<%= url %>"><%= url %></a> から<%= now %>に生成しました。</p>
      <p>Cookieを利用して結果を保存しています。</p>
      <%- if auto -%>
      <p>自動生成した結果を表示しています。何かおかしければ @wataken44 まで。</p>
      <%- end -%>
    </div>

  </body>
</html>
